body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Navigation */

.About_Us_Btn{
    border:none;
    background-color: #FFFFFF;
    border: 0.15vw solid #000000;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.3vh;
    display: inline-block;
    height: 100%;
    width: 100%;
    top:0px;
    transition: background-color 0.3s;
}

.About_Us_Btn:hover {
    background-color: #000000;
    color: white;
}

.About_Us_Txt {
    display: inline-block;
}

.services {
    width: 100%;
    height: 100vh;
}

.services_body {
    display: inline-block;
}

.contacts{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    width: 100%;
    height: 10vh;
}

.form {
    position: fixed;
    width: 300px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.navigation {
    width: 100%; /* Adjust width as needed */
    height: 6vw;
    background-color: #FFFFFF; /* Light grey background, change as you like */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    border: 0px solid #cccccc; /* Adds a border around the box */
    margin: 0; /* Spacing around the box */
    padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav {
  height: 60%;
  width: 15%;
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vw 1vh 2vw;
  text-transform: uppercase;
}

.active {
  color: red;
}

.active1 {
    color: black;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.search {
  background-color: #FFF;
  border: 0.5vh solid #DDD;
  border-radius: 1.5vh;
  color: #000;
  padding: 0;
  width: 100%;
  height: 100%;
}